#datumpreview {
    background-color: aquamarine;
    margin: auto;
    width: 427px;
    height: 240px;
}
.videopreview {
    display: block;
}
#tagedit {

}
#taglist > .taglistitem {
    background-color: lavender;
    display: inline-flex;
}
#taglist > .taglistitem > button {
    border: 0px;
    background-color: lavender;
    color: red;
    align-self: flex-end;
}
#taglist > .taglistitem > button:hover {
    background-color: ghostwhite;
}
#transcriptedit {
}

#transcriptlist > .transcriptlistitem {
    background-color: lavender;
    display: flex;
}
#transcriptlist > .transcriptlistitem > .transcriptlisttext {
    width: 100%;
}
#transcriptlist > .transcriptlistitem > button {
    border: 0px;
    background-color: lavender;
    color: red;
    float: right;
}

#transcriptlist > .transcriptlistitem > button:hover {
    background-color: ghostwhite;
}
